<!-- BEGIN PAGE TITLE-->
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
         <div class="portlet light">
           <div class="portlet-title">
               <div class="caption">
                   <i class="icon-note font-dark"></i>
                   <span class="caption-subject font-dark sbold uppercase">角色分组信息</span>
               </div>
           </div>
           <div class="portlet-body form">
           	<form class="form-horizontal" method="post" data-options="novalidate:false" id="ff">
           	<div class="form-body">
           		
	    		<input type="hidden" name="roleGroup.id" value="${(roleGroup.id)!}">
	    		
				<div class="form-group">
                   <label class="col-md-3 control-label">分组名称</label>
                   <div class="col-md-6">
                       <input type="text" class="form-control input-medium easyui-validatebox" 
                       		data-options="missingMessage:'请输入分组名称',required:true" name="roleGroup.name" value="${(roleGroup.name)!}" />
                   </div>
				</div>
				
				<div class="form-group">
                   <label class="col-md-3 control-label">排序</label>
                   <div class="col-md-6">
                       <input type="text" class="form-control input-medium"  name="roleGroup.weight" value="${(roleGroup.weight)!0}" />
                   </div>
				</div>
				
			</div>
                  
			<div class="form-actions">
			     <div class="row">
			         <div class="col-md-offset-3 col-md-9">
			             <button type="button" id="save" onclick="save_data();" class="btn green">提交</button>
			    	</div>
				</div>
			</div>
			</form>
			</div>
			</div><!-- end portlet -->
		</div><!-- end of col-->
</div><!-- end of row-->
</div><!-- end of container-->

	<script type="text/javascript">

	function save_data(){
		form_data_save("#ff", "role/group_update", function(data){
			$("#treegrid").treegrid("reload");
		}, {window_close:true,window_reload:true});
	}
	</script>