<#include "../../inc/layout/page-default-top.html" />
<!-- BEGIN PAGE TITLE-->
 <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">系统首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>企业管理</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/crm/weekly/report">周报管理</a>
            </li>            
        </ul>

    </div>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
         <div class="portlet light bg-inverse">
           <div class="portlet-title">
               <div class="caption">
                   <i class="fa fa-file-word-o font-dark"></i>
                   <span class="caption-subject font-dark">${(report.title)!}</span>
                   <span class="caption-helper">${(report.staff_name)!} | ${(report.create_time)!}</span>
               </div>
               
               <#if report.id ?? && report.status == 1 >
               <div class="actions">
	                 <div class="btn-group">
	                     <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> 操作
	                         <i class="fa fa-angle-down"></i>
	                     </a>
	                     <ul class="dropdown-menu pull-right"> 
	                          <li>
	                          	<a href="javascript:approve(${(report.id)!});"> <i class="fa fa-pencil"></i> &nbsp;审核提交</a>
	                          </li>
	                     </ul>
	               	</div>
           	  </div>
           	  </#if>
           </div>
           <div class="portlet-body form">
           	<form class="form" method="post" data-options="novalidate:false" id="form">
           	<div class="form-body">
           	   		<input type="hidden" name="report.id" value="${(report.id)!}" />	   			
           	   				
                     <div class="form-group">
                         <p>${(report.content)!}</p>
                     </div>
                     
                    <!--<div class="form-group">
                         <label class="control-label">反馈内容</label>
							<script id="feedback" class="form-control" type="text/plain" style="height:500px;" name="report.feedback">${(report.feedback)!}</script>
                     </div> -->
                     
                     <#if report.status == 2>
                     <div class="form-group">
                        <label class="control-label">回复意见:</label>
						<textarea rows="8" class="form-control" name="report.feedback">${(report.feedback)!}</textarea>
                     </div>
                     </#if>
                       
                  </div>
                  
                   <div class="form-actions left">
                   	   <#if report.status == 2 && TF.has_perm("view_department_weekly_report") == false>
                       <button type="button" id="" onclick="save_data();" class="btn btn-sm blue"><i class="fa fa-check"></i> 提交</button>
                       </#if>
                       <a href="/crm/weekly/report" class="btn btn-sm green"><i class="fa fa-reply"></i> 返回</a>
                       <span class="help-inline">更新时间：${(report.update_time)!}</span>
                   </div>
           	

           </div><!-- form-body --></form>
           </div><!-- portle-body -->
           
           </div><!-- end portlet -->
	</div><!-- end of col-->
</div><!-- end of row-->
</div><!-- end of container-->


<style type="text/css"></style>
<link href="${BASE_PATH}umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="${BASE_PATH}umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${BASE_PATH}umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="${BASE_PATH}umeditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例//editor为容器的id
var um = UM.getEditor('feedback');


function save_data(){
	form_data_save("#form", "/crm/weekly/report/view_update", function(data){
		$("#dg").datagrid("reload");
	}, {window_close:true,window_reload:true});
} 

function approve(value){
	//console.log(value);
	//return;
	$.messager.confirm("确认提交", "您确认要提交该周报吗？", function(re){
		if(re){
		$.ajax({
			type:"POST",
			url:"/crm/weekly/report/approve",
			data:{
				id:value
			},
			dataType:"json",
			success:function(data){
					if(data.status=="SUCCESS"){
					$.messager.alert('',data.message,'info',function(){
						window.location.reload();
					});
				}else{
					$.messager.alert('',data.message,'error');
				}
			}
		});
	}
});
};

</script>
<#include "../../inc/layout/page-default-bottom.html" />