<#include "../inc/layout/page-default-top.html" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/fullcalendar-3.3.0/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->

<script src="${BASE_PATH}public/js/echarts/echarts.js"></script>


<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>JIAKI ERP</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
             <span>信息概览</span>
        </li>
    </ul><!--  -->
    <div class="page-toolbar">
    <div id="dashboard-report-range"  class="pull-right  btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
         <span class="thin uppercase hidden-xs" >2017-01-01 - ${yesterday!}</span>&nbsp;
        <i class="fa fa-angle-down"></i>
 	</div>
 	</div>                    
</div>

<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> 系统首页
    <small><!-- 杭州铭鸿装饰工程有限公司 --></small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->
<#if TF.has_perm("order_center_view_all_statics")>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="/order/contract/arrival_charts">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="${(total_arrival)!}">0</span>
                </div>
                <div class="desc"> 到店数 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
        <a class="dashboard-stat dashboard-stat-v2 red" href="/order/contract/agreement_charts">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="${(agreement_sum)!}">0</span> </div>
                <div class="desc"> 协议数量 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="/order/contract/charts">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="${(contract_sum)!}">0</span>
                </div>
                <div class="desc"> 合同数量 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="/order/contract/charts">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number"> 
                    <span data-counter="counterup" data-value="${(contract_amount_sum?string('0.00'))!}">0</span>万
                </div>
                <div class="desc"> 合同金额 </div>
            </div>
        </a>
    </div>
</div><!-- .row -->
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="row ">
    <div class="col-md-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
		  <div class="portlet-title tabbable-line">
               <div class="caption">
                   <i class="icon-globe font-yellow"></i>
                   <span class="caption-subject font-yellow bold uppercase">地区统计</span>
               </div>
           </div>
           <div class="portlet-body">
               <div class="tab-content">
                 	<div id="main" style="width:100%;height:400px;"></div> 
               </div>
            </div>
       </div>
 		 
        <!-- END PORTLET-->
    </div>
 
    <div class="col-md-6 hidden">
        <!-- BEGIN PORTLET-->
         <div class="portlet light bordered">
		  <div class="portlet-title tabbable-line">
               <div class="caption">
                   <i class="icon-globe font-red"></i>
                   <span class="caption-subject font-red bold uppercase">协议数量</span>
               </div>
               <ul class="nav nav-tabs">
                   <li class="active">
                       <a href="#portlet_agreement_ecommerce_tab_1" data-toggle="tab"> 按天 </a>
                   </li>
                   <li>
                       <a href="#portlet_agreement_ecommerce_tab_2" id="statistics_agreement_tab" data-toggle="tab"> 按月 </a>
                   </li>
               </ul>
           </div>
           <div class="portlet-body">
               <div class="tab-content">
                   <div class="tab-pane active" id="portlet_agreement_ecommerce_tab_1">
                       <div id="statistics_agreement_1" class="chart"> </div>
                   </div>
                   <div class="tab-pane" id="portlet_agreement_ecommerce_tab_2">
                       <div id="statistics_agreement_2" class="chart"> </div>
                   </div>
               </div>
               <div class="well margin-top-20">
                   <div class="row">
                       <div class="col-md-3 col-md-offset-3 text-stat">
                           <span class="label label-success"> 本年度合计: </span>
                           <h3>${(year_agreement_sum)!0}</h3>
                       </div>
                       <div class="col-md-6 text-stat">
                           <span class="label label-info"> 本月合计: </span>
                           <h3>${(month_agreement_sum)!0}</h3>
                       </div>
                   </div>
               </div>
            </div>
       </div>
        <!-- END PORTLET-->
    </div>
</div>

<div class="row">    
    <div class="col-md-6 hidden">
        <!-- BEGIN PORTLET-->
         <div class="portlet light bordered">
		  <div class="portlet-title tabbable-line">
               <div class="caption">
                   <i class="icon-globe font-yellow"></i>
                   <span class="caption-subject font-yellow bold uppercase">合同数量</span>
               </div>
               <ul class="nav nav-tabs">
                   <li class="active">
                       <a href="#portlet_contract_ecommerce_tab_1" data-toggle="tab"> 按天 </a>
                   </li>
                   <li>
                       <a href="#portlet_contract_ecommerce_tab_2" id="statistics_contract_tab" data-toggle="tab"> 按月 </a>
                   </li>
               </ul>
           </div>
           <div class="portlet-body">
               <div class="tab-content">
                   <div class="tab-pane active" id="portlet_contract_ecommerce_tab_1">
                       <div id="statistics_contract_1" class="chart"> </div>
                   </div>
                   <div class="tab-pane" id="portlet_contract_ecommerce_tab_2">
                       <div id="statistics_contract_2" class="chart"> </div>
                   </div>
               </div>
               <div class="well margin-top-20">
                   <div class="row">
                       <div class="col-md-3 col-md-offset-3 text-stat">
                           <span class="label label-success"> 本年度合计: </span>
                           <h3>${(year_contract_sum)!0}</h3>
                       </div>
                       <div class="col-md-6 text-stat">
                           <span class="label label-info"> 本月合计: </span>
                           <h3>${(month_contract_sum)!0}</h3>
                       </div>
                   </div>
               </div>
            </div>
       </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 hidden">
		<div class="portlet light bordered">
		  <div class="portlet-title tabbable-line">
               <div class="caption">
                   <i class="icon-globe font-Thistle "></i>
                   <span class="caption-subject font-Thistle  bold uppercase">合同金额   (单位:万元)</span>
               </div>
               <ul class="nav nav-tabs">
                   <li class="active">
                       <a href="#portlet_contract_amount_ecommerce_tab_1" data-toggle="tab"> 按天 </a>
                   </li>
                   <li>
                       <a href="#portlet_contract_amount_ecommerce_tab_2" id="statistics_contract_amount_tab" data-toggle="tab"> 按月 </a>
                   </li>
               </ul>
           </div>
           <div class="portlet-body">
               <div class="tab-content">
                   <div class="tab-pane active" id="portlet_contract_amount_ecommerce_tab_1">
                       <div id="statistics_contract_amount_1" class="chart"> </div>
                   </div>
                   <div class="tab-pane" id="portlet_contract_amount_ecommerce_tab_2">
                       <div id="statistics_contract_amount_2" class="chart"> </div>
                   </div>
               </div>
               <div class="well margin-top-20">
                   <div class="row">
                       <div class="col-md-3 col-md-offset-3 text-stat">
                           <span class="label label-success"> 本年度合计: </span>
                           <h3>${(year_contract_amount_sum?string('0.00'))!0.00}</h3>
                       </div>
                       <div class="col-md-6 text-stat">
                           <span class="label label-info"> 本月合计: </span>
                           <h3>${(month_contract_amount_sum?string('0.00'))!0.00}</h3>
                       </div>
                   </div>
               </div>
            </div>
       </div>      
    </div>
</div><!-- .row -->

<div class="row ">   
<div class="col-md-6 hidden"> 
   <div class="portlet light bordered">
		  		<div class="portlet-title tabbable-line">
              	<div class="caption">
                   <i class="icon-globe font-blue"></i>
                   <span class="caption-subject font-blue bold uppercase">到店统计</span>
               </div>
               <ul class="nav nav-tabs">
                   <li class="active">
                       <a href="#portlet_arrival_ecommerce_tab_1" data-toggle="tab"> 按天 </a>
                   </li>
                   <li>
                       <a href="#portlet_arrival_ecommerce_tab_2" id="statistics_arrival_tab" data-toggle="tab"> 按月 </a>
                   </li>
               </ul>
               
           </div>
           <div class="portlet-body">
               <div class="tab-content">
                   <div class="tab-pane active" id="portlet_arrival_ecommerce_tab_1">
                       <div id="statistics_arrival_1" class="chart"> </div>
                   </div>
                   <div class="tab-pane" id="portlet_arrival_ecommerce_tab_2">
                       <div id="statistics_arrival_2" class="chart"> </div>
                   </div>
               </div>
               <div class="well margin-top-20">
                   <div class="row">
                       <div class="col-md-3 col-md-offset-3 text-stat">
                           <span class="label label-success"> 本年度合计: </span>
                           <h3>${(year_arrival_sum)!0}</h3>
                       </div>
                       <div class="col-md-6 text-stat">
                           <span class="label label-info"> 本月合计: </span>
                           <h3>${(month_arrival_sum)!0}</h3>
                       </div>
                   </div>
               </div>
            </div>
       </div>
       </div>
</#if>
<div class="row ">
    <div class="col-md-6 col-sm-12 hidden">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-bubbles font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">待办事宜</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_comments_1" data-toggle="tab"> 待办 </a>
                    </li>
                    <li>
                        <a href="#portlet_comments_2" data-toggle="tab"> 已办 </a>
                    </li>
                </ul>
                
            </div>
            <div class="portlet-body scroller" style="height: 448px;" data-always-visible="1" data-rail-visible="0">
                <div class="tab-content">
                    <div class="tab-pane active" id="portlet_comments_1">
                        <!-- BEGIN: Comments -->
                        <div class="mt-comments">
                        	<#if (todos ? size >0) >
                        	<#list todos as todo>
                            <div class="mt-comment">
                                <div class="mt-comment-img">
                                	<img class="img-circle" width="29px" height="29px" src="<#if (todo.picture)??>/image/preview?s=${todo.picture}<#else>${BASE_PATH}public/img/th.jpg</#if>" /> 
                                </div>
                                <div class="mt-comment-body">
                                    <div class="mt-comment-info">
                                        <span class="mt-comment-author">${(todo.apply_name)!}</span>
                                        <span class="mt-comment-date">${todo.create_time}</span>
                                    </div>
                                    <div class="mt-comment-text">${todo.title}</div>
                                    <div class="mt-comment-details">
                                        <span class="mt-comment-status mt-comment-status-pending">${todo.type_name}</span>
                                        <ul class="mt-comment-actions">
                                            <li>
                                                <a href="${todo.url}" target="_blank">查看</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" onclick="setHasDo(${todo.id})">设为已办</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" onclick="delTodo(${todo.id})">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </#list>
                            <#else>
                            	待办事宜列表为空.
                            </#if>
                        </div>
                        <!-- END: Comments -->
                    </div>
                    <div class="tab-pane" id="portlet_comments_2">
                        <!-- BEGIN: Comments -->
                        <div class="mt-comments">
                            <#if (hastodos ? size >0) >
                        	<#list hastodos as hasdo>
                            <div class="mt-comment">
                                <div class="mt-comment-img">
                                	<img class="img-circle" width="29px" height="29px" src="<#if (hasdo.picture)??>/image/preview?s=${hasdo.picture}<#else>${BASE_PATH}public/img/th.jpg</#if>" /> 
                                </div>
                                <div class="mt-comment-body">
                                    <div class="mt-comment-info">
                                        <span class="mt-comment-author">${(hasdo.apply_name)!}</span>
                                        <span class="mt-comment-date">${hasdo.create_time}</span>
                                    </div>
                                    <div class="mt-comment-text">${hasdo.title}</div>
                                    <div class="mt-comment-details">
                                        <span class="mt-comment-status mt-comment-status-pending">${hasdo.type_name}</span>
                                        <ul class="mt-comment-actions">
                                            <li>
                                                <a href="javascript:;" onclick="delTodo(${hasdo.id})">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </#list>
                            <#else>
                            	暂无
                            </#if>
                        </div>
                        <!-- END: Comments -->
                    </div>
                </div>
            </div>
        </div>
    </div>
 	<#if staff_id??>
 <!--  	<div class="row">-->
	<div class="col-md-6 col-sm-12" style="min-height:300px;">
	<div class="portlet light bordered">
	<div class="portlet-title tabbable-line">
          <div class="caption">
              <i class="icon-bubbles font-dark hide"></i>
              <span class="caption-subject font-dark bold uppercase">我的积分</span>
          </div>
      </div>

			
           <div class="portlet-body">
           			<div class="row">
           			         	<div class="col-md-4">
								<p>总积分：<span class="label label-success"> + ${(totalpoints)!0} &nbsp;</span></p>
								</div>
							<div class="col-md-8">
								<p>
								本月新增积分：<span class="label label-warning"> + ${(addpoints)!0} &nbsp;</span>
								 | <a href='/reward_points/reward_points_transaction_by_id?status=1&staff_id=${(staff_id)!}'>查看详情</a>
								</p>
							</div>
           			</div>
           			
			      <table  class="easyui-datagrid" id="list" style="width:100%;height:400px"
			            data-options="
			                url: '/reward_points/reward_points_transaction_list_show?staff_id=${(staff_id)!}',
			                method:'POST',
			                rownumbers:true
			            ">
			        <thead>
			            <tr>
				         	<th data-options="field:'type_name', title:'类型', width:'60%'"></th>			        
			            	<th data-options="field:'points', title:'增/减积分', width:'18%',align:'center',formatter:field_formatter_reward_points" ></th>
			            	<th data-options="field:'month', title:'日期', width:'18%',align:'center'"></th>
			            </tr>
			        </thead>
			    </table> 
		</div><!-- .portlet-body -->
		</div>
	</div>
<!--  </div> --><!-- end of row-->
 	</#if>
    <#if dev?? && dev == 1>
		    <div class="col-md-6 col-sm-12">
		    <#include "dashboard/portlet_notice.inc.html"; />
		    </div>
       </#if>
   </div><!-- .row -->
   <#if dev?? && dev == 1>
   	<#include "dashboard/portlet_timeline.inc.html"; />
   </#if>
   
   <#if dev?? && dev == 1>
   <#include "dashboard/portlets.inc.html"; />
   </#if>      
          
            
   
        <!-- BEGIN CORE PLUGINS -->
        <!-- <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script> -->
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <!-- <script src="../assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script> -->
        <script src="../assets/global/plugins/fullcalendar-3.3.0/fullcalendar.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
        <script src="../public/js/charts.js" type="text/javascript"></script>
        
        <!-- END PAGE LEVEL PLUGINS -->
      	<script type="text/javascript" src="${BASE_PATH}public/js/accounting.min.js"></script>
		<script src="${BASE_PATH}public/js/jquery.blockUI.js"></script>
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script>
   		var START_DATE = moment().startOf('year').format('YYYY-MM-DD');
   		var END_DATE = moment().subtract('days', 1).format('YYYY-MM-DD');
   		
   		<#if start_date??>
   		 START_DATE = "${start_date}";
   		</#if>
   		<#if end_date??>
   		 END_DATE = "${end_date}";
   		</#if>
        </script>
        <script src="../assets/pages/scripts/dashboard.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
      	<script type="text/javascript"  src="${BASE_PATH}public/js/datagrid_field.js"></script>
       	<script type="text/javascript">
       	
       //到店数量统计
       $(function(){
		   var data_arrival_1 = [
		      <#-- 倒序排列 -->
		      <#if day_arrival ?? >
			      <#list day_arrival?reverse  as day>
			      	['${(day.date)?substring(5)}', ${(day.num)}],
			      </#list>
		      </#if>
		      	];
		   
		   initChart("statistics_arrival_1", data_arrival_1, "blue");
		   var data_arrival_2 = [
		       <#if month_arrival ??>
		       <#list month_arrival?reverse as month>
		       	['${month.date}',${month.num}],
		       </#list>
		       	</#if>
		   ];
		   $('#statistics_arrival_tab').on('shown.bs.tab', function(e) {
			   initChart("statistics_arrival_2", data_arrival_2);
		   });
	  	});
       //协议数量统计
       $(function(){
    	   var data_agreement_1 = [
    		   	<#-- 倒序排列 -->
    		   	<#if day_agreement ??>
    		   	<#list day_agreement?reverse  as day>
    		   	['${(day.date)?substring(5)}', ${(day.num)}],
    		   	 </#list>
    		   	</#if>
    		   	];
    			initChart("statistics_agreement_1", data_agreement_1);
    		   	var data_agreement_2 = [
    		   	    <#if month_agreement??>
    		   		<#list month_agreement?reverse as month>
    		   		['${month.date}',${month.num}],
    		   		</#list>
    		   		</#if>
    		   	 	];
    		   	$('#statistics_agreement_tab').on('shown.bs.tab', function(e) {
    		   		initChart("statistics_agreement_2", data_agreement_2, "blue");
    		   	});           		   
       });
       //合同数量统计
       $(function(){
    	   var data_contract_1 = [
    		   	<#-- 倒序排列 -->
    		   	<#if day_contract??>
    		   	<#list day_contract?reverse  as day>
    		   	['${(day.date)?substring(5)}', ${(day.num)}],
    		   	 </#list>
    		   	</#if>
    		   	];
    			initChart("statistics_contract_1", data_contract_1);
    		   	var data_contract_2 = [
    		   	    <#if month_contract??>
    		   		<#list month_contract?reverse as month>
    		   		['${month.date}',${month.num}],
    		   		</#list>
    		   		</#if>
    		   	 	];
    		   	$('#statistics_contract_tab').on('shown.bs.tab', function(e) {
    		   		initChart("statistics_contract_2", data_contract_2, "blue");
    		   	});           		   
       });
       //合同金额统计
       $(function(){
    	   var data_contract_amount_1 = [
    		   	<#-- 倒序排列 -->
    		   	<#if day_contract??>
    		   	<#list day_contract?reverse  as day>
    		   	['${(day.date)?substring(5)}', ${(day.amount_sum)}],
    		   	 </#list>
    		   	</#if>
    		   	];
    			initChart("statistics_contract_amount_1", data_contract_amount_1, "blue");
    		   	var data_contract_amount_2 = [
    		   	    <#if month_contract??>
    		   		<#list month_contract?reverse as month>
    		   		['${month.date}',${month.amount_sum}],
    		   		</#list>
    		   		</#if>
    		   	 	];
    		   	$('#statistics_contract_amount_tab').on('shown.bs.tab', function(e) {
    		   		initChart("statistics_contract_amount_2", data_contract_amount_2);
    		   	});           		   
       });
       
       function setHasDo(id){
    	   //console.log(id);
    	   $.messager.confirm('提示信息','确定要设为已办?',function(r){
    		   if(r){
		    	   $.post('/todo/update_status',{id:id,status:1},function(data){
		    		   if(data.status=='SUCCESS'){
		    			   $.messager.alert('提示信息',data.message,'info',function(){
		    				   window.location.reload();
		    			   });
		    		   }
		    		   else{
		    			   $.messager.alert('提示信息',data.message,'error');
		    		   }
		    	   },"json");
    		   }
    	   });
       }
       
       function delTodo(id){
    	   $.messager.confirm('提示信息','确定要删除?',function(r){
    		   if(r){
    			   $.post('/todo/update_status',{id:id,status:-1},function(data){
    	    		   if(data.status=='SUCCESS'){
    	    			   $.messager.alert('提示信息',data.message,'info',function(){
    	    				   window.location.reload();
    	    			   });
    	    		   }
    	    		   else{
    	    			   $.messager.alert('提示信息',data.message,'error');
    	    		   }
    	    	   },"json");
    		   }
    	   });
       }
       
       var EcommerceDashboard = function() {

    	    function showTooltip(x, y, labelX, labelY) {
    	        $('<div id="tooltip" class="chart-tooltip">' + (labelY.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')) + 'USD<\/div>').css({
    	            position: 'absolute',
    	            display: 'none',
    	            top: y - 40,
    	            left: x - 60,
    	            border: '0px solid #ccc',
    	            padding: '2px 6px',
    	            'background-color': '#fff'
    	        }).appendTo("body").fadeIn(200);
    	    }

    	    var initChart1 = function() {

    	        var data = [
    	            ['01/2013', 4],
    	            ['02/2013', 8],
    	            ['03/2013', 10],
    	            ['04/2013', 12],
    	            ['05/2013', 2125],
    	            ['06/2013', 324],
    	            ['07/2013', 1223],
    	            ['08/2013', 1365],
    	            ['09/2013', 250],
    	            ['10/2013', 999],
    	            ['11/2013', 390]
    	        ];

/*     	        var plot_statistics = $.plot(
    	            $("#statistics_1"), [{
    	                data: data,
    	                lines: {
    	                    fill: 0.6,
    	                    lineWidth: 0
    	                },
    	                color: ['#f89f9f']
    	            }, {
    	                data: data,
    	                points: {
    	                    show: true,
    	                    fill: true,
    	                    radius: 5,
    	                    fillColor: "#f89f9f",
    	                    lineWidth: 3
    	                },
    	                color: '#fff',
    	                shadowSize: 0
    	            }], {

    	                xaxis: {
    	                    tickLength: 0,
    	                    tickDecimals: 0,
    	                    mode: "categories",
    	                    min: 2,
    	                    font: {
    	                        lineHeight: 15,
    	                        style: "normal",
    	                        variant: "small-caps",
    	                        color: "#6F7B8A"
    	                    }
    	                },
    	                yaxis: {
    	                    ticks: 3,
    	                    tickDecimals: 0,
    	                    tickColor: "#f0f0f0",
    	                    font: {
    	                        lineHeight: 15,
    	                        style: "normal",
    	                        variant: "small-caps",
    	                        color: "#6F7B8A"
    	                    }
    	                },
    	                grid: {
    	                    backgroundColor: {
    	                        colors: ["#fff", "#fff"]
    	                    },
    	                    borderWidth: 1,
    	                    borderColor: "#f0f0f0",
    	                    margin: 0,
    	                    minBorderMargin: 0,
    	                    labelMargin: 20,
    	                    hoverable: true,
    	                    clickable: true,
    	                    mouseActiveRadius: 6
    	                },
    	                legend: {
    	                    show: false
    	                }
    	            }
    	        ); */

    	        var previousPoint = null;

    	        $("#statistics_1").bind("plothover", function(event, pos, item) {
    	            $("#x").text(pos.x.toFixed(2));
    	            $("#y").text(pos.y.toFixed(2));
    	            if (item) {
    	                if (previousPoint != item.dataIndex) {
    	                    previousPoint = item.dataIndex;

    	                    $("#tooltip").remove();
    	                    var x = item.datapoint[0].toFixed(2),
    	                        y = item.datapoint[1].toFixed(2);

    	                    showTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1]);
    	                }
    	            } else {
    	                $("#tooltip").remove();
    	                previousPoint = null;
    	            }
    	        });

    	    }

    	    var initChart2 = function() {

    	        var data = [
    	            ['01/2013', 10],
    	            ['02/2013', 0],
    	            ['03/2013', 10],
    	            ['04/2013', 12],
    	            ['05/2013', 212],
    	            ['06/2013', 324],
    	            ['07/2013', 122],
    	            ['08/2013', 136],
    	            ['09/2013', 250],
    	            ['10/2013', 99],
    	            ['11/2013', 190]
    	        ];

    	        var plot_statistics = $.plot(
    	            $("#statistics_2"), [{
    	                data: data,
    	                lines: {
    	                    fill: 0.6,
    	                    lineWidth: 0
    	                },
    	                color: ['#BAD9F5']
    	            }, {
    	                data: data,
    	                points: {
    	                    show: true,
    	                    fill: true,
    	                    radius: 5,
    	                    fillColor: "#BAD9F5",
    	                    lineWidth: 3
    	                },
    	                color: '#fff',
    	                shadowSize: 0
    	            }], {

    	                xaxis: {
    	                    tickLength: 0,
    	                    tickDecimals: 0,
    	                    mode: "categories",
    	                    min: 2,
    	                    font: {
    	                        lineHeight: 14,
    	                        style: "normal",
    	                        variant: "small-caps",
    	                        color: "#6F7B8A"
    	                    }
    	                },
    	                yaxis: {
    	                    ticks: 3,
    	                    tickDecimals: 0,
    	                    tickColor: "#f0f0f0",
    	                    font: {
    	                        lineHeight: 14,
    	                        style: "normal",
    	                        variant: "small-caps",
    	                        color: "#6F7B8A"
    	                    }
    	                },
    	                grid: {
    	                    backgroundColor: {
    	                        colors: ["#fff", "#fff"]
    	                    },
    	                    borderWidth: 1,
    	                    borderColor: "#f0f0f0",
    	                    margin: 0,
    	                    minBorderMargin: 0,
    	                    labelMargin: 20,
    	                    hoverable: true,
    	                    clickable: true,
    	                    mouseActiveRadius: 6
    	                },
    	                legend: {
    	                    show: false
    	                }
    	            }
    	        );

    	        var previousPoint = null;

    	        $("#statistics_2").bind("plothover", function(event, pos, item) {
    	            $("#x").text(pos.x.toFixed(2));
    	            $("#y").text(pos.y.toFixed(2));
    	            if (item) {
    	                if (previousPoint != item.dataIndex) {
    	                    previousPoint = item.dataIndex;

    	                    $("#tooltip").remove();
    	                    var x = item.datapoint[0].toFixed(2),
    	                        y = item.datapoint[1].toFixed(2);

    	                    showTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1]);
    	                }
    	            } else {
    	                $("#tooltip").remove();
    	                previousPoint = null;
    	            }
    	        });

    	    }

    	    return {

    	        //main function
    	        init: function() {
    	            initChart1();

    	            $('#statistics_orders_tab').on('shown.bs.tab', function(e) {
    	                initChart2();
    	            });
    	        }

    	    };

    	}();

    	jQuery(document).ready(function() {
    	    EcommerceDashboard.init();
    	});
    	

    	
    	var myChart = echarts.init(document.getElementById('main'));
    	myChart.setOption({
    		color: ['#3398DB'],
    		title:{
    			text:'公司统计'
    		},
    		tooltip:{
    			trigger: 'axis',
    	        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    	            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    	        }
    		},
    		legend:{
    			data:['公司个数']
    		},
    		xAxis:{
    			data:[]
    		},
    		yAxis:{},
    		series:{
    			name:'公司个数',
    			type:'bar',
    			data:[]
    		}
    	});
    	
    	var num=[];
    	var name_info=[];
    	var string;
    	
    	$.ajax({
    		url:'/marketing/company/provinceChart',
    		type:'post',
    		dataType:'json',
    		data:{},
    		success:function(data){
    			if(data != null){
    				for(var i = 0 ; i <data.length;i++){
    					if(data[i].province_name != null){
    						name_info.push(data[i].province_name);
    						num.push(data[i].num);
    					}
    				}
    				
    				myChart.setOption({
    					xAxis:{
    						data:name_info
    					},
    				series:[{
    						name:'公司个数',
    						barWidth:'30%',
    						 label: {
    				                normal: {
    				                    show: true,
    				                    position:'top',
    				                }
    				            },
    						data:num
    					}]
    				});
    			}
    		}

    	});	
    	
    	myChart.on('click',function(param){
    		$.ajax({
    			url:'/marketing/company/is_province',
    			type:'post',
    			dataType:'json',
    			data:{"name":param.name},
    			success:function(data){
    				if(data.data == "province"){
    					name_info = [];
    					num = [];
    					string = param.name;
    					$.ajax({
    						url:'/marketing/company/cityChart',
    						type:'post',
    						dataType:'json',
    						data:{"province_name":param.name},
    						success:function(data){
    							if(data != null){
    								for(var i = 0 ; i <data.length;i++){
    									if(data[i].city_name != null){
    										name_info.push(data[i].city_name);
    										num.push(data[i].num);
    									}
    								}
    								myChart.setOption({
    									title:{
    										text:string+'省'
    									},
    									xAxis:{
    										data:name_info
    									},
    								series:[{
    										name:'公司个数',
    										barWidth:'60%',
    										 label: {
    								                normal: {
    								                    show: true,
    								                    position:'top',
    								                   
    								                }
    								            },
    										data:num
    									}]
    								});
    							}
    						}
    					});
    				}
    				else if(data.data == "city"){
    					name_info = [];
    					num = [];
    					string = null;
    					string = param.name;
    					$.ajax({
    						url:'/marketing/company/districtChart',
    						type:'post',
    						dataType:'json',
    						data:{"city_name":param.name},
    						success:function(data){
    							if(data != null){
    								for(var i = 0 ; i <data.length;i++){
    									if(data[i].district_name != null){
    										name_info.push(data[i].district_name);
    										num.push(data[i].num);
    									}
    								}
    								 myChart.hideLoading();
    								myChart.setOption({
    									title:{
    										text:string
    									},
    									xAxis:{
    										data:name_info
    									},
    								series:[{
    										name:'公司个数',
    										barWidth:'40%',
    										 label: {
    								                normal: {
    								                    show: true,
    								                    position:'top'
    								                }
    								            },
    										data:num
    									}]
    								});
    							}
    						}
    					});
    				}
    				else{
    					name_info = [];
    					num = [];
    					string = null;
    					$.ajax({
    			    		url:'/marketing/company/provinceChart',
    			    		type:'post',
    			    		dataType:'json',
    			    		data:{},
    			    		success:function(data){
    			    			if(data != null){
    			    				for(var i = 0 ; i <data.length;i++){
    			    					if(data[i].province_name != null){
    			    						name_info.push(data[i].province_name);
    			    						num.push(data[i].num);
    			    					}
    			    				}
    			    				
    			    				myChart.setOption({
    			    					title:{
    			    		    			text:'公司统计'
    			    		    		},
    			    					xAxis:{
    			    						data:name_info
    			    					},
    			    				series:[{
    			    						name:'公司个数',
    			    						barWidth:'25%',
    			    						 label: {
    			    				                normal: {
    			    				                    show: true,
    			    				                    position:'top',
    			    				                }
    			    				            },
    			    						data:num
    			    					}]
    			    				});
    			    			}
    			    		}

    			    	});	
    				}
    			}
    		});
    	});
    	

       </script>



<#include "../inc/layout/page-default-bottom.html" />