<#include "../../inc/layout/page-default-top.html" />
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>预算中心</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>项目预算</span>
            </li>            
        </ul>
		<div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> 操作
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="/budget/order" target="_blank">
                            <i class="fa fa-list-alt"></i> 按项目查看</a>
                    </li>

                </ul>
            </div>
        </div>
        
    </div>
                    
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title hidden">全部预算</h3>

<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
	<div class="col-md-12" style="min-height:300px;">
	
		
		<div class="portlet light portlet-fit portlet-datatable bordered">
			<div class="portlet-title">
				<button class="btn btn-sm btn-success" onclick="new_window('budget/budget_add','', 800, 500);"><i class="fa fa-plus"></i> &nbsp;新建</button>
				<button class="btn btn-sm btn-danger" id="delete"><i class="fa fa-remove"></i> &nbsp;删除</button>
			</div>
			 <div class="portlet-body">
			 
			 	 <div class="row margin-bottom-10">
			  		<form id="filter_form" action="" method="get">

			 		<div class="col-md-2">
					 		<label>预算编号：<br /><input type="text" name="sn" class="form-control input-small input-inline" placeholder="请输入项目编号" /></label></div>	 
					 <div class="col-md-2">
					 		<label>起始时间：<br /><input type="text" name="startdate" class="easyui-datebox" style="height:32px;" value = "${startdate!}" /></label></div>
					 <div class="col-md-2">
					 		<label>结束时间：<br /><input type="text" name="enddate" class="easyui-datebox" style="height:32px;" value = "${enddate!}" /></label></div>
					 
			 		<div class="col-md-2">&nbsp;<br /><a class="btn btn-success" id="filter" title="查询"><i class="fa fa-search"></i> 查询</a></div>

					 </form>
				 </div>
			 
			 	
			     <table  class="easyui-datagrid" id="list" style="width:98%;height:450px"
			            data-options="
			                url: '/budget/index_json',
			                method:'POST',
			                queryParams:{'startdate':'${startdate!}','enddate':'${enddate!}'},
			                checkOnSelect:false,
			                pagination:true,
			                pageSize:50,
			               
			            ">
			        <thead>
			            <tr>
			            	<th data-options="field:'',checkbox:true"></th>
			            	<th data-options="field:'sn', title:'预算编号', width:'120px',formatter:field_formatter_sn,align:'center'"></th>
			            	<!--<th data-options="field:'engineer_sn', title:'合同编号', width:'7%'"></th>-->
			            	<th data-options="field:'name', title:'预算名称', width:'15%'"></th>
			            	<!--<th data-options="field:'order_name', title:'订单', width:'20%',formatter:field_formatter_order_name"></th>-->
			            	<!-- <th data-options="field:'order_name', title:'项目名称', width:'14%'"></th> -->
			            	<!--<th data-options="field:'customer_name', title:'客户姓名', width:'8%',align:'center'"></th>-->
			            	<!-- <th data-options="field:'mobile', title:'客户手机号', width:'10%'"></th> -->

			            	<!--<th data-options="field:'designer', title:'设计师', width:'8%',align:'center'"></th>-->
			            	<!--<th data-options="field:'version', title:'版本号', width:'5%',align:'center'"></th>-->
			            	<!--<th data-options="field:'total', title:'总计', width:'5%',align:'center'"></th>-->
			            	<!--<th data-options="field:'create_time', title:'创建时间', width:'150'"></th>-->
			              	<th data-options="field:'update_time', title:'更新时间', width:'150px',align:'center'"></th>
							<th data-options="field:'id', title:'', width:'60px',formatter :idformatter,align:'center'"></th>
			            </tr>
			        </thead>
			    </table>
			 </div>
		</div><!-- .portlet -->
		
	</div>

</div><!-- end of row-->

<script type="text/javascript">
function field_formatter_sn(value, row){
	return "<a target=\"_blank\" href='/budget/item/advanced_edit/" + row.id + "'>" + value + "</a>";
}

function idformatter(value,data){
		var re = "";
  		//re += "<a href='/budget/budget_class?budget_id=" + value + "'>查看</a>" +" | "+
	re += "<a href='javascript:new_window(\"/budget/budget_add?id="+value+"\");'><i class='fa fa-pencil-square'></i> 编辑</a>&nbsp;&nbsp;";
	//re += "<a href='/budget/variation_list?budget_id="+value+"' target='_blank'><i class='fa fa-wpforms'></i> 预算变更单</a>";
	//re +=" | " + "<a href='/budget/preview?budget_id=" + value + "' target='_blank'>预览</a>";

	return re;
}
                    
$(function(){
	//查询(过滤器)
	$("#filter").click(function(){
  			//var search_field = $("#search_field").val().trim();
  			var search_data = $("#filter_form").serializeObject();
  			//console.log(search_data);
  			$('#list').datagrid('load', search_data);
  	});
  	//删除
	$("#delete").click(function(){
		var post_url = "/budget/budget_list_delete";
		handle_datagrid_delete(post_url, "list", "id", "list", {force_delete:1});
	});
});


</script>

<#include "../../inc/layout/page-default-bottom.html" />